<style>


  .my-card-right-div {
    border-left: solid 4px #088ef0;
    padding: 20px 0;
    position: relative;
    left: -2px;
  }

  .my-card-left-div {
    border-right: solid 4px #088ef0;
    padding: 20px 0;
    position: relative;
    right: -2px;
  }

  .my-card-right-div > .my-card-content-div > .my-card-angle {
    display: block;
    height: 20px;
    width: 20px;
    float: left;
    position: relative;
    left: 10px;
    top: 20px;
    transform: rotate(45deg);
    z-index: 100;
    background-color: #F3E5F5;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2);
  }

  .my-card-left-div > .my-card-content-div > .my-card-angle {
    display: block;
    height: 20px;
    width: 20px;
    float: right;
    position: relative;
    right: 10px;
    top: 20px;
    transform: rotate(45deg);
    z-index: 100;
    background-color: #F3E5F5;
    box-shadow: 0 -3px 1px -2px rgba(0, 0, 0, .2);
  }

  .my-card-right-div > .my-card-image-div {
    float: left;
    position: relative;
    left: -27px;
  }

  .my-card-left-div > .my-card-image-div {
    float: right;
    position: relative;
    right: -27px;
  }

  .my-card-right-div > .my-card-content-div {
    left: -30px;
    position: relative
  }

  .my-card-left-div > .my-card-content-div {
    right: -30px;
    position: relative
  }

  .my-card-image-div {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    box-shadow: 1px 1px 2px 2px #CCCCCC;
    z-index: 1000;
  }

  .my-card-image {
    width: 50px;
    height: 50px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }

  .my-card-image:hover {
    width: 90px;
    height: 90px;
    margin-top: -20px;
    margin-left: -20px;
  }

  @media (max-width: 991px) {

    .my-card-none-div {
      border-left: solid 4px #088ef0;
      margin-left: 28px;
    }

    .my-card-left-div {
      border-left: solid 4px #088ef0;
      border-right: none;
      padding: 20px 0;
      position: relative;
      left: -2px;
    }

    .my-card-left-div > .my-card-content-div > .my-card-angle {
      display: block;
      height: 20px;
      width: 20px;
      float: left;
      position: relative;
      left: 10px;
      top: 20px;
      transform: rotate(45deg);
      z-index: 100;
      background-color: #F3E5F5;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2);
    }

    .my-card-left-div > .my-card-image-div {
      float: left;
      position: relative;
      left: -27px;
    }

    .my-card-left-div > .my-card-content-div {
      left: -30px;
      position: relative
    }

    .my-card-right-div {
      margin-left: 30px;
    }

    .my-card-left-div {
      margin-left: 30px;
    }
    .mdui-card-actions {
      text-align: right;
    }
  }

  #timeitemlistid {/*
    transform: perspective(2500px) rotateY(0deg);*/
    transform-style: preserve-3d;
    perspective-origin: 50% 0;
    -webkit-perspective-origin: 50% 0;
  }

  @media (min-width: 991px) {
    .my-centerliner {
      position: relative;
      left: -2px;
      width: 4px;
      height: 100%;
      background-color: #088ef0;
    }

    .my-timeitem > .row > .my-visiable-div > .my-card-left-div {
      transform: perspective(1600px) rotateY(0deg);
      transform-style: preserve-3d;
      transform-origin: 100% 50%;
      z-index: 1000;
      -webkit-animation: timeitemanimation 1000ms;
      -o-animation: timeitemanimation 1000ms;
      animation: timeitemanimation 1000ms;
    }

    @keyframes timeitemanimation {
      from {
        transform: perspective(1000px) rotateY(-150deg);
        opacity: 0;
      }
      to {
        transform: perspective(1000px) rotateY(0deg);
        opacity: 1;
      }
    }

    .my-timeitem > .row > .my-visiable-div > .my-card-right-div {
      transform: perspective(1000px) rotateY(0deg);
      transform-origin: 0 0;
      -webkit-animation: timeitemrightani 1000ms;
      -o-animation: timeitemrightani 1000ms;
      animation: timeitemrightani 1000ms;
    }

    @keyframes timeitemrightani {
      from {
        transform: perspective(1000px) rotateY(150deg);
        opacity: 0;
      }
      to {
        transform: perspective(1000px) rotateY(0deg);
        opacity: 1;
      }
    }
    .my-card-right-div > .my-card-content-div > .mdui-card > .mdui-card-actions {
      text-align: right;
    }
  }
</style>
<div>
  <div id="timeitemlistid">
    <div style="position: fixed;left: 50%;height: 100%">
      <div class="my-centerliner" style=""></div>
    </div>
    <div class="my-timeitem" *ngFor="let timeitem of timeitems">
      <div class="row" style="">
        <div *ngIf="timeitem.position==0" class="my-card-none-div col-lg-6 col-md-6 col-sm-0"></div>
        <div class="my-visiable-div col-lg-6 col-md-6 col-sm-12" style="padding-left: 0;padding-right: 0;">
          <div class="my-card-div" [class.my-card-right-div]="timeitem.position==0"
               [class.my-card-left-div]="timeitem.position==1">
            <div class="my-card-image-div">
              <img class="my-card-image" src="../../assets/img/{{timeitem.image}}">
            </div>
            <div class="my-card-content-div">
              <div class="my-card-angle" (click)="changeitemPosition(timeitem)"></div>
              <div class="mdui-card mdui-color-purple-50">
                <div class="mdui-card-header">
                  <div class="mdui-card-header-title" style="margin-left: 0;">{{ timeitem.title }}</div>
                  <div class="mdui-card-header-subtitle" style="margin-left: 0;">Subtitle</div>
                </div>
                <div class="mdui-card-content">
                  {{ timeitem.content }}}
                </div>
                <div class="mdui-card-actions">
                  <button class="mdui-btn mdui-ripple mdui-color-pink-400">detail</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="timeitem.position==1" class="my-card-none-div col-lg-6 col-md-6 col-sm-0"></div>
      </div>
    </div>
  </div>
</div>
<script>
  alert(1);
</script>
